@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.intro{
    background-color: #e9e7e7;
}
.navbar{
    padding: 40px 120px;
    display: flex;
    justify-content: space-between;
}

#bar
{
    display:none;
}

.hamburger{
    display: none;
}
.links{
    width: 60%;
}
.links a{
    text-decoration: none;
    font-size: 21px;
    letter-spacing: -1px;
    color: #232323;
    font-family: "Lato";
    padding-right: 60px;
}


.contactBtn{
    border: 3px solid black;
    font-size: 21px;
    letter-spacing: -1px;
    color: #232323;
    font-weight: 900;
    font-family: "Lato";
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
}
.contactBtn:hover {
    background: black;
    color: white;
}
.mainPage{
    padding: 50px 120px 75px 120px;
    background-image: url("../images/left_scribble.png"), url("../images/scribble_dark_7.png");
    background-repeat: no-repeat no-repeat;
    background-position: left top 144px, right top 244px;
    background-size: 480px, 95px;
    display: flex;
    justify-content: space-between;
}
.leftContent{
    width: 35%;
    vertical-align: top;
    
}
.mainText{
    font-size: 36px;
    letter-spacing: -2px;
    line-height: 1;
    color: #232323;
    font-weight: 700;
    font-family: "Cardo";
  
}
.subText{
    font-size: 17px;
    color: #232323;
    font-weight: 400;
    font-family: "Lato";
    margin-top: 15px;
}
.reserveBtn{
    margin-top: 25px;
    border-radius: 5px;
    background-color: #232323;
    font-weight: bold;
    font-family: "Lato";
    font-size: 20px;
    color: white;
    width: 60%;
    text-align: center;
    padding: 12px 0;
}
.reserveBtn:hover{
    border-color: rgb(61, 61, 61);
    background-color: rgb(61, 61, 61);
    color: black;
}

.memories{
    background: #232323;
    color: white;
    padding: 40px 0;
    display: flex;
}
.memoryLeft, .memoryMid, .memoryRight{
    width: 33%;
}
.memoryLeft img{
    width: 90%;
    translate: 0 -50px;
    padding-top: 20px;
}
.memoryRight img{
    width: 90%;
    margin-left: 50px;
    padding-top: 100px;
}
.midHeader{
    text-align: center;
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 0.9;
    color: #e9e7e7;
    font-weight: 700;
    font-family: "Cardo";
}
.midText{
    text-align: center;
    margin-top: 15px;
    font-family: "Lato";
}
.midBtn{
    text-align: center;
    margin-top: 20px;
}

.logs{
    border: 2px solid white;
    width:40%;
    padding: 8px 20px;
    border-radius: 5px;
    font-family: "Lato";
    background: #232323;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.gallery{
    background-color: #e9e7e7;
    background-image: url("../images/gallery_left.png"), url("../images/gallery_right.png");
    background-repeat: no-repeat no-repeat;
    background-position: left top 20px, right top 361px;
    background-size: 40px, 65px;
}
.galleryContent{
    padding: 8rem 6rem;
    display: flex;
}
.gal{
    margin: 0px 17px;
}
.line{
    border: 1px solid black;
    height: 2px;
    width: 15%;
    margin-top: 20px;
}
.galImage img{
    width: 100%;
}
.galHeading{
    width: 70%;
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 36px;
    color: #232323;
    font-weight: 700;
    font-family: "Cardo";
    margin-top: 20px;
}
.galText{
    width: 100%;
    margin-top: 20px;
    color: #232323;
    font-family: "Lato";
    line-height: 0.9;
}
.places{
    background-color: #e9e7e7;
    background-image: url("../images/scribble_lightest.png");
    background-repeat: no-repeat;
    background-position: right top 20px;
    background-size: 180px;
    position: relative;
}
.placesContent{
    padding: 7rem 6rem;
}
.placesImage{
    display: flex;
    align-items: center;
    justify-content: center;
}
.placesImage img{
    height: 70px;
}
.tape{
    position: absolute;
    left: 70px;
    bottom: 300px;
}

.placesTop{
    text-align: center;
}
.placesMainText{
    margin-top: 40px;
    width: 84%;
    font-size: 84px;
    letter-spacing: -2px;
    word-spacing: 10px;
    line-height: 75px;
    color: #232323;
    font-weight: 700;
    font-family: "Cardo";
    padding-left: 19%;
}
.placesSubText{
    margin-top: 50px;
    padding-left: 24px;
    font-size: 24px;
    letter-spacing: -1px;
    color: #232323;
    font-weight: bold;
    font-family: "Lato";
}
.placesArt{
    position: relative;
    right: 430px;
    top: 10px;
}
.placesArt img{
    width: 300px;
}
.placesBottom{
    margin-top: 10rem;
    display: flex;
}
.placesRight{
    margin-left: 40px;
    width: 50%;
}
.placesLeft img{
    height: 580px;
}

.rightTop img{
    height: 260px;
}
.rightBottom{
    display: flex;
    margin-top: 40px;
}
.bottomMain{
    width: 40%;
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 40px;
    text-decoration: underline;
    color: #232323;
    font-weight: 700;
    font-family: "Cardo";
}
.bottomSub{
    width: 55%;
    font-size: 16px;
    letter-spacing: 0px;
    color: #232323;
    font-weight: 600;
    font-family: "Lato";
    text-align: left;
    padding-left: 30px;
}
.bottomSub p{
    padding-bottom: 20px;
}
.arrowImage{
    float: right;
    padding-right: 30px;
}
.arrowImage img {
    width: 100px;
}

.trek{
    background-color: #232323;
    padding-top: 5rem;
}
.trekContent{
    display: flex;
    justify-content: space-between;
}
.trekText{
    width: 40%;
    vertical-align: top;
    padding-left: 6rem;
}

.trekImage img{
    height: 488px;
}
.trekMain{
 
    font-size: 50px;
    letter-spacing: -1px;
    line-height: 55px;
    color: #e9e7e7;
    font-weight: 700;
    font-family: "Cardo";
}
.trekSub{
    font-size: 17px;
    letter-spacing: 0px;
    color: #e9e7e7;
    font-weight: 400;
    font-family: "Lato";
    text-align: left;
    padding: 20px 0;
    
}
.trekFirst{
    padding-top: 40px;
}
.trekSub h3{
    padding-bottom: 20px;
}
.trekSub p{
    font-size: 16px;
}
.trekPattern{
    padding-top: 10px;
}
.trekPattern img{
    width: 400px;
}
.listSection{
    padding: 9rem 6rem;
    background-color: #e9e7e7;
}
.listContent{
    display: flex;
}
.listLeft{
    vertical-align: top;
    width: 60%;
}
.listRight{
    padding-left: 80px;
}
.listLine{
    border: 1px solid black;
    height: 2px;
}
.listMainText{
    font-size: 81px;
    letter-spacing: -2px;
    line-height: 81px;
    color: #232323;
    font-weight: 700;
    font-family: "Cardo";
}
.listItems{
    margin-top: 80px;
}
.listText{
    padding: 12px 20px;
    font-size: 17px;
    letter-spacing: 0px;
    color: #232323;
    font-weight: 400;
    font-family: "Lato";
}

.listText img{
    height: 20px;
    padding-left: 90px;
    vertical-align: middle;
}
.listRight img{
    height:438.750px;
}
.testimonials{
    background-color: hsl(0, 4%, 91%);
    padding: 5rem 3rem;
    background-image: url("../images/test_bg_top.png"), url("../images/test_bg_bottom.png");
    background-repeat: no-repeat no-repeat;
    background-position: left -20px top 68px, right -170px top 621px;
    background-size: 300px, 475px;
    position: relative;
}
.testimonialHeading{
    font-size: 81px;
    letter-spacing: -2px;
    line-height: 81px;
    color: #232323;
    font-weight: 700;
    font-family: "Cardo";
    width: 60%;
    text-align: center;
    margin: auto;
}
.arrowLeft{
    border: 2px solid black;
    width: 60px;
    padding: 10px 10px;
    border-radius: 5px;
    position: absolute;
    top: 400px;
    left: 60px;
    background-color: #e9e7e7;
    font-size: 32px;
    cursor: pointer;
}
.arrowRight{
    border: 2px solid black;
    width: 60px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #e9e7e7;
    font-size: 32px;
    position: absolute;
    top: 400px;
    right: 60px;
    cursor: pointer;
}
.testimonialContent{
    display: flex;
    text-align: center;
    justify-content: center;
}
.testimonialBox{
    border: 2px solid black;
    border-radius: 8px;
    width: 30%;
    margin: 30px 5px;
    padding: 40px 20px;
}
.testimonialBox img{
    height: 120px;
}
.customerName{
    font-size: 20px;
    letter-spacing: -1px;
    color: #232323;
    font-weight: 900;
    font-family: "Lato";
    text-align: center;
    padding: 16px 0;
}
.review{
    letter-spacing: 0px;
    color: #6d6d6d;
    font-weight: 400;
    font-family: "Lato";
}

.update{
    background-color: #e9e7e7;
    padding: 5rem 7rem;
}
.updateContent{
    display: flex;
    justify-content: space-between;
}
.updateLeft{
    width: 50%;
}

.updateHeading{
    font-size: 70px;
    letter-spacing: -2px;
    line-height: 81px;
    color: #232323;
    font-weight: 700;
    font-family: "Cardo";
    margin-bottom: 30px;
}
.updateForm input{
    background-color: #e9e7e7;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 18px;
    color: #232323;
    font-weight: 400;
    font-family: "Lato";
    padding: 10px 150px 10px 10px;
    margin-bottom: 20px;
}
textarea{
    background-color: #e9e7e7;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 18px;
    color: #232323;
    font-weight: 400;
    font-family: "Lato";
    padding: 10px 165px 100px 10px;
    overflow: hidden;
    text-wrap: nowrap;
}
.sendMail{
    margin-top: 30px;
    border: 2px solid black;
    background: black;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Lato";
    width: 360px;
    padding: 10px 50px;
    text-align: center;
    cursor: pointer;
}
.updateRight img{
    height: 547px;
 
}
.footer{
    background-color: #c4c4c4;
    padding: 6rem 7rem;
    background-image: url("../images/footer_bg.png");
    background-repeat: no-repeat;
    background-position: left -277px top 223px;
    background-size: 515px;

}
.footerContent{
    display: flex;
    justify-content: space-between;
}
.footerTitle{
    width: 20%;
    font-size: 63px;
    letter-spacing: -2px;
    line-height: 63px;
    color: #232323;
    font-weight: 700;
    font-family: "Cardo";
}
.footerLinks{
    padding-left: 50px;
}
.quickLinks{
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 50px;
    color: #232323;
    font-weight: 900;
    font-family: "Lato";
    display: flex;
}
.linkSection{
    padding-right: 80px;
}
.linkArea{
    display: flex;
}
.linkSection a{
    text-decoration: none;
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 40px;
    color: #232323;
    font-weight: 400;
    font-family: "Lato";
    text-align: left;
}
.phone{
    display: none;
}

.copyright{
    letter-spacing: -1px;
    line-height: 50px;
    color: #232323;
    font-weight: 400;
    font-family: "Lato";
    padding-top: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
}

/* Media Queries */
@media screen and (max-width: 600px) {
    .navbar{
        padding: 43px 31px;
    }

    #bar{
        width: 100%;
    }    

    .contactBtn {
        border: 2px solid black;
        padding: 3px 16px;
        font-size: 14px;
    }
    .hamburger{
        display: block;
    }
    .hamburger img {
        height: 20px;
    }
    .links{
        /* width: 50%; */
    }
    .linkContent{
        display: none;
    }
    .linkMobile{
        display: flex;
        justify-content: space-around;
    }
    .linkMobile a{
        text-decoration: none;
        font-size: 20px;
        letter-spacing: -1px;
        color: #232323;
        font-family: "Lato";
        padding-right: 5px;
    }
    .mainPage{
        padding: 10px 20px;
        flex-direction: column-reverse;
        background-image: none;
    }
    .mainText h1{
        font-size: 32px;
    }
    .leftContent{
        width: 90%;
    }
    .pc{
        display: none;
    }
    .reserveBtn{
        margin-top: 16px;
        font-size: 18px;
        width: 50%;
        padding: 12px 0;
    }
    .rightImg{
        margin-top: 20px;
    }
    .rightImg img{
        height: 197px;
    }
    .memoryLeft, .memoryRight{
        display: none;
    }
    .memoryMid{
        width: 90%;
        margin: auto;
    }
    .midHeader{
        font-size: 20px;
       
    }
    .gallery{
        background-image: none;
        padding: 20px 20px;
    }
    .galleryContent{
        padding: 0;
        flex-direction: column;
    }
    .gal{
        padding-bottom: 30px;
    }
    .places{
        background-image: none;
    }
    .placesContent{
        padding: 20px 10px;
    }
    .placesMainText{
        font-size: 32px;
        line-height: 1;
        width: 90%;
    }
    .placesSubText{
        font-size: 20px;
        margin-top: 10px;
    }
    .placesArt{
        display: none;
    }
    .tape{
        display: none;
    }
    .placesBottom{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    .placesRight{
        margin-left: 0;
        width: 100%;
    }
    .placesLeft img{
        height: 490px;
    }
    .rightTop img{
        margin-top: 20px;
        height: 274px;
    }
    .rightBottom{
        display: flex;
        flex-direction: column;
    }
    .placesMainText{
        padding-left: 0;
    }
    .placesSubText{
        padding-left: 0;
    }
    .bottomMain{
        width: 100%;
        font-size: 32px;
    }
    .bottomSub{
        width: 100%;
        padding-left: 0;
        padding-top: 20px;
    }
    .arrowImage img{
        width: 80px;
    }
    .trek{
        padding: 20px 20px;
    }
    .trekContent{
        flex-direction: column-reverse;
    }
    .trekText{
        width: 100%;
        padding-left: 0;
    }
    .trekMain{
        padding-bottom: 20px;
        font-size: 40px;
        line-height: 1;
    }
    .trekImage img{
        height: 250px;
    }
    .trekPattern{
        display: none;
    }
    .listSection{
        padding: 20px 20px;
    }
    .listContent{
        flex-direction: column;
    }
    .listItems{
        margin-top: 20px;
    }
    .listLeft{
        width: 100%;
    }
    .listMainText{
        font-size: 40px;
        line-height: 1;
    }
    .listText{
        font-size: 14px;
        padding: 5px 10px;
        display: flex;
    }
    .listRight{
        padding-left: 0;
        padding-top: 20px;
    }
    .testimonials{
        background-image: none;
        padding: 20px 20px;
    }
    .testimonialHeading{
        font-size: 40px;
        line-height: 1;
        width: 100%;
    }
    .arrowLeft, .arrowRight{
        display: none;
    }
    .testimonialContent{
        flex-direction: column;
    }
    .testimonialBox{
        width: 90%;
        margin: 10px 10px;
        padding: 20px 20px;
    }
    .update{
        padding: 20px 20px;
    }
    .updateContent{
        flex-direction: column;
    }
    .updateLeft{
        width: 100%;
    }
    .updateHeading{
        font-size: 40px;
    }
    .updateForm input{
        padding: 10px 100px 10px 10px;
    }
    textarea{
        padding: 10px 115px 100px 10px;
    }
    .sendMail{
        width: 310px;
    }
    .updateRight img{
        height: 344px;
    }
    .footer{
        padding: 20px 20px;
        background-image: none;
    }
    .footerContent{
        flex-direction: column;
    }
    .footerTitle{
        width: 100%;
        font-size: 40px;
    }
    .footerLinks{
        padding-left: 0;
    }
    .linkArea{
        flex-direction: column;
    }
    .pc{
        display: none;
    }
    .phone{
        display: flex;
        flex-direction: row;
    }
    .linkSection{
    
    }
  }
